{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
<p>Are you sure you want to rent {{ book.title }} by {{ book.author }}?</p>
{{ form_widget(form) }}
<a href="/">No</a>
{{ form_end(form) }}

{% endblock %}